#advantages.advantages
    .container
        .advantages__block
            h2.advantages__heading Why Tank App?
            .advantages-wrap
                .advantages-wrap__laptop
                .advantages-wrap__titles
                    .advantages-wrap__title-row
                        .advantages-wrap__icon.cloud-icon
                        h2.advantages-wrap__caption Reliable and Secure Platform
                    p.advantages-wrap__article
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipisicing elit, sed do eiusmod tempor incididunt ut
                        | labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut
                        | aliquip ex ea com
                .advantages-wrap__title
                    .advantages-wrap__title-row
                        .advantages-wrap__icon.clock-icon
                        h2.advantages-wrap__caption Reliable and Secure Platform
                    p.advantages-wrap__article
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipisicing elit, sed do eiusmod tempor incididunt ut
                        | labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi
                        | ut aliquip ex ea com
                .advantages-wrap__title
                    .advantages-wrap__title-row
                        .advantages-wrap__icon.message-icon
                        h2.advantages-wrap__caption Reliable and Secure Platform
                    p.advantages-wrap__article
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipisicing elit, sed do eiusmod tempor incididunt ut
                        | labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut
                        | aliquip ex ea com
                .advantages-wrap__title
                    .advantages-wrap__title-row
                        .advantages-wrap__icon.pages-icon
                        h2.advantages-wrap__caption Reliable and Secure Platform
                    p.advantages-wrap__article
                        | Lorem ipsum dolor sit amet, consectetur
                        | adipisicing elit, sed do eiusmod tempor incididunt ut
                        | labore et dolore magna aliqua. Ut enim ad minim veniam,
                        | quis nostrud exercitation ullamco laboris nisi ut
                        | aliquip ex ea com
        // /.advantages__block
    // /.container
// /.advantages
