.clients.bg-secondary
    .container
        .clients__block
            img.clients__image(src='images/clients/clients-icon1.png' alt='clients image')
            img.clients__image(src='images/clients/clients-icon2.png' alt='clients image')
            img.clients__image(src='images/clients/clients-icon3.png' alt='clients image')
            img.clients__image(src='images/clients/clients-icon4.png' alt='clients image')
            img.clients__image(src='images/clients/clients-icon5.png' alt='clients image')
        // /.clients-block
    // /.container
// /.clients
