#different.difference.bg-secondary
    .difference__image
    .container
        .difference-block
            h2.difference__heading Why Tank App different ?
            .difference__slider
                .difference__slider__content(style='max-width:800px')
                    .difference__slide
                        img.difference__slide-icon(src='images/difference/difference-icon.png' alt='icon')
                        h3.difference__slide-title Works on any device anyware
                        p.difference__slide-article
                            | Lorem ipsum dolor sit amet, consectetur adipisicing
                            | elit, sed do eiusmod tempor incididunt ut labore et
                            | dolore magna aliqua. Ut enim ad minim veniam, quis
                            | nostrud exercitation ullamco labor- is nisi ut aliquip ex ea
                            | com Neque porro quisquam est, qui dolorem ipsum quia dolor
                            | sit amet, consectetur, adipisci velit, sed quia non numquam
                            | eius modi tempora incidunt ut
                .difference__slider__wrap-dots
                    .difference__slider__dots
                        .difference__slider-button.demo
                            span 1
                        .difference__slider-button.demo
                            span 2
                        .difference__slider-button.demo
                            span 3
                        .difference__slider-button.demo
                            span 4
        // /.difference-block
    // /.container
// /.difference
