#feedback.feedback
    .container
        .feedback-block
            h2.feedback__title Save time &amp; Gain agility
            // /.feedback__title
            p.feedback__subtitle
                | Using our cloud Monitoring Services
                | So you can Focous on Runing Yours Better
            // /.subtitle
            .feedback__wrap-form
                form.form.feedback__form(action='#')
                    .form__row.feedback__form__row
                        input.input.feedback__form__input.form__input(type='email' placeholder='         Enter Your E-mail Adress')
                        input.button.feedback__form__button.form__button(type='submit' value='Signup')
        // /.feedback-block
    // /.container
// /.feedback
