footer.footer.bg-secondary
    .container
        .footer-wrap
            .footer__logo
                a.footer__logo-image(href='#')
            // /.logo navbar__logo
            .menu
                .menu__footer
                    a.menu__link(href='#') Home
                    a.menu__link(href='#') About Us
                    a.menu__link(href='#') How it works
                    a.menu__link(href='#') Contact
                    a.menu__link(href='#') Blog
                    .menu__vertical-line.menu__link
                    a.menu__link(href='https://twitter.com' target='_blank')
                        img(src='images/footer/twitter.png' alt='twitter')
                    a.menu__link(href='https://www.facebook.com/' target='_blank')
                        img(src='images/footer/facebook.png' alt='facebook')
                    a.menu__link(href='https://www.google.com.ua' target='_blank')
                        img(src='images/footer/google-plus.png' alt='google')
