header.header
    .navbar
        .container
            .navbar-wrap
                .logo.navbar__logo
                    a.logo__logo-image(href='#')
                // /.logo navbar__logo
                .menu
                    .menu__nav
                        a.menu__link(href='#advantages') How it works
                        a.menu__link(href='#different') About Us
                        a.menu__link(href='#feedback') Contact Us
                        a.menu__link(href='#' data-title='Do nothing...') Blog
            // /.navbar-wrap
        // /.container
    // /.navbar
    .hero
        .container
            .hero_block.hero-block
                .hero__title
                    | Track your next
                    | fuel shops
                // /.hero__title
                p.hero__slogan
                    | Monitor and Alert on all petrol bunks near to you
                // /.hero__slogan
                sapn.hero__subtitle
                    | Signup For
                    span.hero__subtitle-excerpt free
                // /.subtitle
                form.form(action='#')
                    .form__row
                        input.input.form__input(type='email' placeholder='Your E-mail Adress')
                        input.button.form__button(type='submit' value='Signup')
        // /.container
    // /.hero
// /.header
